__pycache__/
*.pyc

captures/*
!captures/test_inputs/
!captures/test_inputs/*.JPG
selected_leaves/
test_runs/
output/

phase_2_disease_detection/plantseg.zip
phase_2_disease_detection/phase_2_dataset/
phase_2_disease_detection/models/
